body{

}

#section{
	height: 280px;
	width: 800px;
	background-color: #FFA2AD;
	font-family: Brown, Verdana, sans-serif;
	text-align: center;
	position : relative ;
	padding : 50px;
	margin : auto;
}

header{
	color : #FFA2AD ;
	font-family: Verdana, sans-serif;
	text-align: center;
	position : relative;
	margin :auto;

}

#login_section{
	width:  280px;
	height: 270px;
	border-width : 2px;
	border-color : white;
	border-style: dotted;
	border-radius: 50px;
	margin : auto;
}


input.id_pw_input {
		color : #FFA2AD ;
		height: 25px;
		width: 200px;
		margin: auto;
		padding: auto;
		border: none;
		display: inline-block;
	}

button.btn-info{
	background-color: #FFA2AD;
	color : white ;
	border : none;
	font-size: 18px;
	margin: auto;
	padding : 13px;
}