<header>
	<h1>Secret Note-Taking Diary</h1>
</header>
<div id="section">
	<div id="login_section">
		<form name="login_form" method="post" >
			<br />
			<br />
			<p class="id_pw"><input id="id" class="id_pw_input" type="text" name="user_id" placeholder =" ID "/></p><br />
			<p class="id_pw"><input id="pw" class="id_pw_input" type="password" name="user_pass" placeholder =" Password "/></p>
			<br />
			<br />
			<button id="login" class="btn-info" ><a href =" /users/sign_in">Log in</a></button>
			<button id="signup" class="btn-info"><a href ="/users/sign_up">Sign up</a></button>
		</form>    
	</div>
</div>
<footer>
</footer>

안씀.