  <ul id="ul_nav">
    <li class="li_nav"><a class="a_nav" href="/home/todolist">To do list</a></li>
    <li class="li_nav"><a class="a_nav" href="/home/classlist">Class List</a></li>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <li class="li_nav"><a class="a_nav" href="/home/main">Main</a></li>
  </ul> 

  <div id ="side">
  
  </div>

<div id="main_section">
    
 <%= month_calendar do |date|%>
  <%= date %>
<% end %>

</div>


