
	<ul id = "ul_nav">
		<li class="li_nav"><a class="a_nav" href="/home/todolist">To do list</a></li>
		<li class="li_nav"><a class="a_nav" href="/home/classlist">Class List</a></li>
		<li class="li_nav"><a class="a_nav" href="/home/login">Login</a></li>
		<li class="li_nav"><a class="a_nav" href="/home/main">Main</a></li>
	</ul> 

	<div id ="side">
	</div>

	<div id="main_section">
		<!-- todolist part-->
		<div id="myDIV" class="header">
  <h2 style="margin:5px"> To Do List</h2>
  <input type="text" id="myInput" placeholder="What I have to do is...">
  <span onclick="newElement()" class="addBtn">Add</span>
</div>

<!--db needed-->

<ul id="myUL">
  <li class ="li_myUL">여기다 디비 넣어라.</li>
  <li class ="li_myUL" class="checked">Learn about React</li>
  <li class ="li_myUL" >OpenSource, Assignment#1 duedate:4/5</li>
</ul>
	</div>
<!------------------->
