
#ul_nav {
    list-style-type: none;
    margin-top:130px;
    padding: 0;
    overflow: hidden;
    background-color:  #FFA2AD;
}

.li_nav {
    float: right;
}

.a_nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.a_nav :hover {
    background-color: pink;
}

#side{
    height: 800px;
    background-color:  #FFA2AD;
    width: 20%;
    position: fixed;
    float : left;
    display : block;
}

#main_section{
    height: 800px;
    width: 78%;
    float: right;
    border: #FFA2AD solid 4px;
    font-family: Verdana, sans-serif;
    overflow-y: scroll;
    overflow-x : hidden;
    margin: auto;
    text-align: center;

}

