
ul {
    list-style-type: none;
    margin-top:130px;
    padding: 0;
    overflow: hidden;
    background-color:  #FFA2AD;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: pink;
}

#side{
    height: 800px;
    width: 20%;
    position: fixed;
    float : left;
    display : block;
}


.vertical-menu {
    width: 200px; /* Set a width if you like */
    text-align: center;
    font-family: Verdana, sans-serif;
    border: solid white 2px;
    margin: auto;

}

.vertical-menu a {
    background-color: #FFEBF0; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    border: solid white 1px;
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

#list_title {
    background-color: pink; /* Add a green color to the "active/current" link */
    color: white;
    font-size: 23px;
    cursor: default;

}

#main_section{
    height: 800px;
    width: 78%;
    float: right;
    border: #FFA2AD solid 4px;
    font-family: Verdana, sans-serif;
    overflow: scroll;
    margin: auto;
    text-align: center;

}

.note{
    width: 700px;
    margin-top: 80px;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;

}

.note_info {
    color : #FFA2AD;
    border-color: #FFA2AD;
 
}


.note_button{
    background-color: #FFA2AD ;
    width : 130px;
    height: 30px;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    color : white;
    border-radius: 5px;
    border : none;
    margin : 10px;

}

#note_section {
    overflow: scroll;
    border-color: #FFA2AD;
    overflow-x:hidden;

}

input, select{
     border-color: #FFA2AD;
}